# 
src/site/_includes/components/user/notes/footer/001-comment.njk
# 
src/site/notes
src/site/img/user

# 
!src/site/notes/README.md
!src/site/notes/notes.11tydata.js
!src/site/notes/notes.json

node_modules
npm-debug.log
Dockerfile
dist
.dockerignore
.git
.github
.DS_Store

