<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</title>
  <link rel="stylesheet" href="/styles/main.css">
  {% for imp in dynamics.common.head %}
    {% include imp %}
  {% endfor %}
  {% for imp in dynamics.index.head %}
    {% include imp %}
  {% endfor %}
</head>
<body class="theme-{{ meta.baseTheme }}">
  <div class="app-layout">
    <aside class="sidebar sidebar-left">
      {% if settings.dgShowFileTree !== true %}
        {% include "components/navbar.njk" %}
      {% else %}
        {% include "components/filetree.njk" %}
      {% endif %}
    </aside>

    <main class="content-main">
      {% if settings.dgEnableSearch === true %}
        {% include "components/searchContainer.njk" %}
      {% endif %}

      <header>
        {% if settings.dgShowInlineTitle === true %}
          <h1>{{ noteTitle }}</h1>
        {% endif %}

        {% if settings.dgShowTags === true and tags %}
          <div class="header-tags">
            {% for tag in tags %}
              {% if tag != 'gardenEntry' and tag != 'note' %}
                <a class="tag" onclick="toggleTagSearch(this)">
                  #{{ tag }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </header>

      {% for imp in dynamics.common.beforeContent %}
        {% include imp %}
      {% endfor %}
      {% for imp in dynamics.index.beforeContent %}
        {% include imp %}
      {% endfor %}

      {{ content | hideDataview | taggify | link | safe }}

      {% for imp in dynamics.common.afterContent %}
        {% include imp %}
      {% endfor %}
      {% for imp in dynamics.index.afterContent %}
        {% include imp %}
      {% endfor %}

      {% if settings.dgLinkPreview === true %}
        {% include "components/linkPreview.njk" %}
      {% endif %}
    </main>

    <aside class="sidebar sidebar-right">
      {% if settings.dgShowBacklinks === true or settings.dgShowLocalGraph === true or settings.dgShowToc === true %}
        {% include "components/sidebar.njk" %}
      {% endif %}
    </aside>
  </div>

  {% for imp in dynamics.common.footer %}
    {% include imp %}
  {% endfor %}
  {% for imp in dynamics.index.footer %}
    {% include imp %}
  {% endfor %}
  {% include "components/lucideIcons.njk" %}
</body>
</html>
