<div class="search-button align-icon" onclick="toggleSearch()">
    <span class="search-icon">
        <i icon-name="search" aria-hidden="true"></i>
    </span>
    <span class="search-text">Search</span>
    <span class="search-keys"><code>Ctrl</code>&nbsp;+&nbsp;<code>K</code></span>
</div>
