---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
        http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
{% for page in collections.all | sort(attribute='url') %}
    {% if page.url and page.url != '/404/' and page.url != '/404' and page.url != '/sitemap.xml' and page.url != '/robots.txt' %}
    <url>
        <loc>{{ meta.siteBaseUrl }}{{ page.url | url }}</loc>
        {% if page.date %}
        <lastmod>{{ page.date | dateToZulu }}</lastmod>
        {% endif %}
        {% if page.data.sitemap %}
            {% if page.data.sitemap.changefreq %}
        <changefreq>{{ page.data.sitemap.changefreq }}</changefreq>
            {% endif %}
            {% if page.data.sitemap.priority %}
        <priority>{{ page.data.sitemap.priority }}</priority>
            {% endif %}
        {% else %}
            {% if page.url == '/' %}
        <changefreq>weekly</changefreq>
        <priority>1.0</priority>
            {% elif 'blogs' in page.url %}
        <changefreq>monthly</changefreq>
        <priority>0.8</priority>
            {% elif 'slides' in page.url %}
        <changefreq>monthly</changefreq>
        <priority>0.7</priority>
            {% else %}
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
            {% endif %}
        {% endif %}
    </url>
    {% endif %}
{% endfor %}
</urlset>
